*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
nav{
padding-right: 200px;
}
.nav-link{
font-weight:1000;
}

.WW{
color: white;
font-weight: bold;
font-size: 50px;
}
.form-select{
width: 120px;
}
a{
color: black !important ;
}
.activee{
color: #eb0028;
}
.nav-link:hover,
.dropdown-item:hover,
i:hover{
color: #eb0028;
}
.form-select{
box-shadow: none;
border: none;
background-color: #f8f9fa;
}
.carousel-control-next{
padding-right: 400px;
}
.carousel-control-next-icon:hover ,
.carousel-control-prev-icon:hover{
background-color: #eb0028;
padding: 10px;
border-radius: 50%;

}.carousel-item1{
background-image: url(../img/phono-slider-1.jpg);
background-repeat: no-repeat;
background-size: cover;
max-width: 100%;
height: calc(100vh - 71px);
}
.carousel-item2{
background-image: url(../img/phono-slider-1.jpg);
background-repeat: no-repeat;
background-size: cover;
max-width: 100%;
height: calc(100vh - 71px);
}
.carousel-item3{
background-image: url(../img/phono-slider-1.jpg);
background-repeat: no-repeat;
background-size: cover;
max-width: 100%;
height: calc(100vh - 71px);
}

.carousel-item1 .contant{
right: 200px;
top: 50%;
transform: translateY(-50%);
}
.carousel-item1 .contant h2{
color: white;
font-size: 33px;
}

.carousel-item3 .contant{
right: 200px;
top: 50%;
transform: translateY(-50%);
}
.carousel-item3 .contant h2{
color: white;
font-size: 33px;
}

.serch-by:focus{
border: 1px solid #eb0028;
}
.xexit{
margin-left: 30px;
margin-bottom: 0;
padding: 10px;
outline: none;
border: none;
background-color: transparent;
transition: 0.3;
background-color: #f8f9fa;
}
.xexit:hover{
color: #eb0028;
}
.serch-by{
width: 400px;
padding: 10px 40px;
outline: none;
border-radius: 50px;
}
.foot{
border-bottom: 2px solid grey;
background-color: rgba(128, 128, 128, 0.226);
}
.foot .box h4{
font-size: 15px;
margin-bottom: 0;
margin-top: 20px;
font-weight: bold;
cursor: pointer;
}
.foot .box h4:hover{
color: #eb0028;

}
.foot .box p{
font-size: 15px;
color: gray;
}
.ESSENTIAL .box p{
color:gray;
font-size: 13px;
}
.POSSIBILITIES{
padding-bottom: 250px;
}
.POSSIBILITIES .a1,.POSSIBILITIES .a2,.POSSIBILITIES .a3,.POSSIBILITIES .a4{
top:57%;
width: 10px;
height: 10px;
background-color: #eb0028;
border-radius: 50%;
}
.POSSIBILITIES .a1{
left:15%; 

}
.POSSIBILITIES .a2{
left: 40%;
}
.POSSIBILITIES .a3{
left:60%;
}
.POSSIBILITIES .a4{
left: 90%;
}

@media(max-width:991px){.POSSIBILITIES .box1,.POSSIBILITIES .box2,.POSSIBILITIES .box3,.POSSIBILITIES .box4{
display: none;
}
.POSSIBILITIES{
padding-bottom: 50px !important;
}
}
.POSSIBILITIES .box1{
left:3%; 
top:77%;
}
.POSSIBILITIES .box2{
left: 27%;
}
.POSSIBILITIES .box3{
left:47%;
top:77%;
}
.POSSIBILITIES .box4{
left: 76%;
}
.POSS .box1-1,
.POSS .box1-2{
position: absolute;
background-color: #ffffff;
width: 300px !important;
top: 100px;
left: 50%;
transform: translateX(-50%);
z-index: 500;
padding: 20px;
border-radius:20px ;
box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.452);
}
.POSS  .btn1{
position: absolute;
top: 30px;
right: 30px;
color: #eb0028;
width: 25px;
height: 25px;
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.POSS .btn1:hover{
color: white;
background-color: #eb0028;
border-radius:50% ;
width: 25px;
height: 25px;

}
.INNOVATIVE .imge-m{
width: 380px !important;
height: 550px !important;
}
.INNOVATIVE p {
font-size: 12px;
color: gray;
}

.INNOVATIVE .carde img{
width: 60px;
}
.CUSTOMERS{
background-image: url(../img/footer.webp);
background-size: cover;
background-repeat: no-repeat;
}
.see-h3{
color: white;
}

.contener {
position: relative;
height: 100%;
}
.contener {
background: #eee;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color: #000;
margin: 0;
padding: 100px 200px;
}

.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
height: 400px;
width: 300px !important;
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 1px solid rgba(128, 128, 128, 0.233);
}

.swiper-slide .text{
background-color: rgba(128, 128, 128, 0.11);
padding-top: 20px;
}
.swiper-slide .text h1{
font-size: 20px;
}
.swiper-slide .text p{
font-size: 12px;
width: 80%;
margin: auto;
margin-bottom: 30px;
}
.swiper-pagination{
bottom: 0px !important; 
}
.dropbtn {
background-color: transparent;
color: white;
padding: 12px 16px;
font-size: 8px;
border: none;
cursor: pointer;
width: 160px;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
height: 200px;
overflow:scroll;
stroke-width: 0;
z-index: 100;
overflow-x: hidden;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}
.flags-down{
display: flex;
align-items: center;
justify-content: space-evenly;
cursor: pointer;
}
.flags-down h6{
color: black;
}
footer{
padding: 100px;
width: 100vw;
height: 100vh;
background-image: linear-gradient( to right, rgba(0, 0, 0, 0.070),rgba(0, 0, 0, 0.938)),
url(../img/footer-end.webp);
}
.form{
margin-top: 30px;
}
.gmail{ height: 50px; border-radius: 10px; padding: 10px; outline: none; position: relative; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
}
footer .options ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
padding-top: 100px;
flex-wrap: wrap;
}
footer ul li:hover{
color: red;
}
.list-inline li::after{
content: "|";
padding-inline: 15px;
color: #fff !important;
}
.list-inline li:nth-child(5):after{
content: none;
}

.last img{
width: 60px;
height: 40px;
}
@media(max-width:400px){
    .WW
    {font-size: 20px;
   
    
}
